@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

.primary-color {
  color: #ed7340;
}
.bg-color {
  background-color: #ed7340;
}
/* Hide scrollbar in Firefox */
.header-scrollbar::-webkit-scrollbar {
  display: none;
}
body {
  font-family: "Roboto", sans-serif;
}
