@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

.primary-color {
  color: #ed7340;
}
.bg-color {
  background-color: #ed7340;
}
/* Hide scrollbar in Firefox */
.header-scrollbar::-webkit-scrollbar {
  display: none;
}
body {
  font-family: "Roboto", sans-serif;
}
.clip-hexagon {
  clip-path: polygon(
    51.488% 0.194%,
    99.075% 16.375%,
    99.075% 16.375%,
    99.237% 16.439%,
    99.386% 16.516%,
    99.521% 16.605%,
    99.642% 16.706%,
    99.747% 16.817%,
    99.835% 16.937%,
    99.906% 17.065%,
    99.957% 17.201%,
    99.989% 17.344%,
    100% 17.491%,
    100% 67.679%,
    100% 67.679%,
    98.812% 70.353%,
    95.562% 73.67%,
    90.719% 77.437%,
    84.752% 81.457%,
    78.131% 85.536%,
    71.327% 89.479%,
    64.808% 93.092%,
    59.044% 96.18%,
    54.504% 98.547%,
    51.659% 100%,
    51.659% 100%,
    51.516% 100.064%,
    51.369% 100.114%,
    51.22% 100.15%,
    51.07% 100.172%,
    50.918% 100.179%,
    50.767% 100.172%,
    50.616% 100.15%,
    50.467% 100.114%,
    50.321% 100.064%,
    50.177% 100%,
    50.177% 100%,
    47.35% 98.557%,
    42.846% 96.206%,
    37.128% 93.139%,
    30.664% 89.546%,
    23.917% 85.62%,
    17.354% 81.551%,
    11.439% 77.531%,
    6.638% 73.752%,
    3.416% 70.404%,
    2.239% 67.679%,
    2.239% 17.513%,
    2.239% 17.513%,
    2.25% 17.365%,
    2.281% 17.221%,
    2.332% 17.083%,
    2.403% 16.951%,
    2.49% 16.828%,
    2.595% 16.713%,
    2.715% 16.609%,
    2.85% 16.517%,
    2.999% 16.438%,
    3.16% 16.373%,
    50.349% 0.195%,
    50.349% 0.195%,
    50.46% 0.161%,
    50.573% 0.135%,
    50.687% 0.116%,
    50.802% 0.105%,
    50.918% 0.101%,
    51.034% 0.105%,
    51.15% 0.116%,
    51.264% 0.134%,
    51.377% 0.16%,
    51.488% 0.194%
  );
}
